<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggle()" aria-label="Alternar menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mini RAG Lab</span>
</mat-toolbar>

<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" [opened]="opened()" class="sidenav">
    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
